body{
	min-width: 350px;
}

.hero a.kofi-button {
	border-radius: 4px;
	margin: 0 .5rem .5rem 0;
}

.head{
	display: flex; 
	margin-bottom: 1.5rem;
}
.head>*{
	display: block;
}
.head img{
	width: 65px;
	height: 65px;
	margin-right: 1em;
	border-radius: 25%;
}
@media(min-width: 392px){
	#profile img{
		display: block;
	}
}
@media(max-width: 425px){
	.head img{
		display: none;
	}
}


@media(max-width: 1200px){
	#tweaks .tile:not(.is-child){
		display: block;
	}	
}
#tweaks .tile.is-child{
	position: relative;
}
#tweaks .content{
	margin-bottom: calc(1.5rem + 40px);
}
#tweaks .info{
	height: 40px;
	position: absolute;
	bottom: 1.25rem;
	width: calc(100% - 2.5rem);
}
#tweaks .info .links{
	font-size: 25px; 
	float: right;
}
#tweaks .info .versions{
	font-weight: 300;
	margin-top: 5px;
	position: absolute;
}